@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



body {
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    font-family: 'Manrope', sans-serif;
}


html, body {
    min-height: 100%;

}

body, div, form, input, select, textarea, label, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1{
    margin: 0;
    font-size: 40px;
    color: #fff;
    z-index: 2;
    line-height: 83px;
}
textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

#prob {
    margin-left: 30%;
    /* position: absolute; */
    justify-content: center;
}
#form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    /* background: #f4f1f1; */
    box-shadow: 0 0 8px  #669999; 
}
#head {
    display: flex;
    width: auto;
    justify-content: center;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    color: rgba(0, 40, 83, 1);
    margin-bottom: 2rem;
}

.banner {
    position: relative;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* background-color: rgb(255, 115, 0); */
}
.banner h1 {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0); 
}

#training {
    z-index: 3;
}

.banner a:hover {
    /* cursor: pointer; */
    color: rgb(116, 188, 29);
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.2); 
    position: absolute;
    width: 100%;
    height: 100%;
}
input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #585656;
    border-radius: 3px;
    background-color: #0f2240;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}


textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.item:hover p, .item:hover i, input:hover::placeholder {
    color:  #669999;
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #669999;
    color: #669999;
}

.item span {
    color: red;
}

.colums {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
 }
.colums div {
    width:48%;
 }


button {
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-left: 40%;
}

button:hover {
    background:  #a3c2c2;
}

label {
    color: #81AFDD;
}

select {
    width: calc(100% - 10px);
    padding: 5px;
}